# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
# dependencies
/node_modules
/bun.lockb

# testing
/coverage

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
bun-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
*.d.ts
tsconfig.json
tsconfig.node.json
tsconfig.*.json

# tauri v2
client/target/
**/*.rs.bk
Cargo.lock
.cargo/
